.dashboard-card {
  height: fit-content;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.com {
  color: #52aee5;
}

canvas {
  max-width: 100%;
  height: auto;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.modal {
  z-index: 1045;
}
