<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 text-center mb-3">
      <div
        class="bg-white p-3 add-property-card d-flex flex-column align-items-center justify-content-center"
        routerLink="/add-property/hotel"
      >
        <div>
          <span class="material-icons fs-1 main-color"> add_home_work </span>
        </div>
        <h6 class="fw-bold">Add Your Hotel</h6>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center">
      <div
        class="bg-white p-3 add-property-card d-flex flex-column align-items-center justify-content-center"
        routerLink="/add-property/apartment"
      >
        <div>
          <span class="material-icons fs-1 main-color"> add_home </span>
        </div>
        <h6 class="fw-bold">Add Your Apartment</h6>
      </div>
    </div>
  </div>
</div>
