<div class="container mt-5">
  <h2 class="mb-4 fw-medium">Add Your Hotel</h2>
  <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
    <!-- Basic Information -->
    <div class="card mb-4">
      <div class="card-header main-color-bg text-white">Basic Information</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nameEn" class="form-label">Name (English)</label>
            <input
              type="text"
              class="form-control"
              id="nameEn"
              formControlName="nameEn"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="nameAr" class="form-label">Name (Arabic)</label>
            <input
              type="text"
              class="form-control"
              id="nameAr"
              formControlName="nameAr"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="descriptionEn" class="form-label"
              >Description (English)</label
            >
            <textarea
              class="form-control"
              id="descriptionEn"
              rows="3"
              formControlName="descriptionEn"
            ></textarea>
          </div>
          <div class="col-md-6">
            <label for="descriptionAr" class="form-label"
              >Description (Arabic)</label
            >
            <textarea
              class="form-control"
              id="descriptionAr"
              rows="3"
              formControlName="descriptionAr"
            ></textarea>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="subDescriptionEn" class="form-label"
              >Sub Description (English)</label
            >
            <textarea
              class="form-control"
              id="subDescriptionEn"
              rows="3"
              formControlName="subDescriptionEn"
            ></textarea>
          </div>
          <div class="col-md-6">
            <label for="subDescriptionAr" class="form-label"
              >Sub Description (Arabic)</label
            >
            <textarea
              class="form-control"
              id="subDescriptionAr"
              rows="3"
              formControlName="subDescriptionAr"
            ></textarea>
          </div>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input
            type="number"
            class="form-control"
            id="phone"
            formControlName="phone"
          />
        </div>
      </div>
    </div>

    <!-- Location -->
    <div class="card mb-4">
      <div class="card-header main-color-bg text-white">Location</div>
      <div class="card-body" formGroupName="location">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="addressEn" class="form-label">Address (English)</label>
            <input
              type="text"
              class="form-control"
              id="addressEn"
              formControlName="addressEn"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="addressAr" class="form-label">Address (Arabic)</label>
            <input
              type="text"
              class="form-control"
              id="addressAr"
              formControlName="addressAr"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cityEn" class="form-label">City (English)</label>
            <input
              type="text"
              class="form-control"
              id="cityEn"
              formControlName="cityEn"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="cityAr" class="form-label">City (Arabic)</label>
            <input
              type="text"
              class="form-control"
              id="cityAr"
              formControlName="cityAr"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="countryEn" class="form-label">Country (English)</label>
            <input
              type="text"
              class="form-control"
              id="countryEn"
              formControlName="countryEn"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="countryAr" class="form-label">Country (Arabic)</label>
            <input
              type="text"
              class="form-control"
              id="countryAr"
              formControlName="countryAr"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- House Rules -->
    <div class="card mb-4">
      <div class="card-header main-color-bg text-white">House Rules</div>
      <div class="card-body" formGroupName="houseRules">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="form-check">
              <input
                class="form-check-input border-black"
                type="checkbox"
                id="noSmoking"
                formControlName="noSmoking"
              />
              <label class="form-check-label" for="noSmoking">No Smoking</label>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="form-check">
              <input
                class="form-check-input border-black"
                type="checkbox"
                id="noPets"
                formControlName="noPets"
              />
              <label class="form-check-label" for="noPets">No Pets</label>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="form-check">
              <input
                class="form-check-input border-black"
                type="checkbox"
                id="noParties"
                formControlName="noParties"
              />
              <label class="form-check-label" for="noParties">No Parties</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="checkInTime" class="form-label">Check-in Time</label>
            <input
              type="time"
              class="form-control"
              id="checkInTime"
              formControlName="checkInTime"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="checkOutTime" class="form-label">Check-out Time</label>
            <input
              type="time"
              class="form-control"
              id="checkOutTime"
              formControlName="checkOutTime"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="pricePerNight" class="form-label">Price per Night</label>
          <input
            type="number"
            class="form-control"
            id="pricePerNight"
            formControlName="pricePerNight"
          />
        </div>
        <h6 class="fw-medium">Cancellation</h6>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cancellationPolicy" class="form-label">
              Cancellation Policy (English)
            </label>
            <textarea
              class="form-control"
              id="cancellationPolicy"
              rows="3"
              formControlName="cancellationPolicyEn"
            ></textarea>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cancellationPolicyAr" class="form-label">
              Cancellation Policy (Arabic)
            </label>
            <textarea
              class="form-control"
              id="cancellationPolicyAr"
              rows="3"
              formControlName="cancellationPolicyAr"
            ></textarea>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6 mb-3">
            <div class="form-check">
              <input
                class="form-check-input border-black"
                type="checkbox"
                id="refundable"
                formControlName="isRefundable"
              />
              <label class="form-check-label" for="refundable"
                >Money is Refundable</label
              >
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="deadlineDays" class="form-label">Deadline Days</label>
            <input
              type="number"
              class="form-control"
              id="deadlineDays"
              formControlName="deadlineDays"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- New Photo Upload Section -->
    <div class="card mb-4">
      <div class="card-header main-color-bg text-white">Photo Upload</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="photoUpload" class="form-label"
            >Upload Hotel Photos</label
          >
          <input
            type="file"
            class="form-control"
            id="photoUpload"
            (change)="onFileSelected($event)"
            multiple
            accept="image/*"
          />
        </div>
        <div *ngIf="selectedFiles.length > 0" class="mt-3">
          <p>Selected Files:</p>
          <ul>
            <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header main-color-bg text-white">Amenities</div>
      <div class="card-body" formGroupName="amenities">
        <ng-container *ngFor="let amenityGroup of amenityGroups">
          <div [formGroupName]="amenityGroup.name">
            <h5>{{ amenityGroup.title }}</h5>
            <div class="row">
              <div
                class="col-md-4 mb-3"
                *ngFor="let amenity of amenityGroup.amenities"
              >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [formControlName]="amenity"
                  />
                  <label class="form-check-label">{{ amenity }}</label>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="hotelForm.invalid || isLoading"
    >
      Submit
    </button>
  </form>
</div>
