<div class="container">
  <div *ngIf="hotels.length > 0; else noHotels" class="hotel-list">
    <table class="hotel-table">
      <thead>
        <tr>
          <th>Hotel</th>
          <th>Location</th>
          <th>Price per Night</th>
          <th>Rating</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let hotel of hotels; let i = index">
          <tr (click)="toggleDetails(i)" [class.expanded]="expandedIndex === i">
            <td>
              <div class="hotel-card">
                <img *ngIf="hotel.images.length > 0" [src]="hotel.images[0]" alt="{{ hotel.name.en }}" class="hotel-image"/>
                <div>
                  <h3>{{ hotel.name.en }}</h3>
                  <p class="sub-description">{{ hotel.subDescription.en }}</p>
                </div>
              </div>
            </td>
            @if(hotel.location !== undefined){
              <td>{{ hotel.location.city.en }}, {{ hotel.location.country.en }}</td>
            }
            <td class="price">{{ hotel.PricePerNight | currency }}</td>
            <td>
              <div class="rating">
                <span class="stars" [style.width.%]="hotel.AverageRating * 20"></span>
                {{ hotel.AverageRating > 0 ? hotel.AverageRating.toFixed(1) : 'N/A' }}
              </div>
            </td>
            <td>
              <div class="button-group">
                <button class="btn btn-primary" (click)="onUpdateHotel(hotel._id); $event.stopPropagation()">Update</button>
                <button class="btn btn-danger" (click)="onDeleteHotel(hotel._id); $event.stopPropagation()">Delete</button>
              </div>
            </td>
          </tr>
          <tr *ngIf="expandedIndex === i" class="details-row">
            <td colspan="5">
              <div class="hotel-details">
                <p><strong>Description:</strong> hamada</p>
                <p><strong>Address:</strong> {{ hotel.location.Address.en }}</p>
                <p><strong>Check-in:</strong> {{ hotel.CheckInTime }} | <strong>Check-out:</strong> {{ hotel.CheckOutTime }}</p>
                <p><strong>Contact:</strong> {{ hotel.phone }}</p>
          
                <p class="approval-status" [class.approved]="hotel.approved">
                  {{ hotel.approved ? 'Approved' : 'Not Approved' }}
                </p>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <ng-template #noHotels>
    <p class="no-hotels-message">No hotels found for this user.</p>
  </ng-template>
</div>