<div *ngIf="hotels.length > 0; else noHotels" class="hotel-list">
  <div *ngFor="let hotel of hotels" class="hotel-card">
    <img *ngIf="hotel.images.length > 0" [src]="hotel.images[0]" alt="{{ hotel.name.en }}" class="hotel-image"/>
    <div class="hotel-details">
      <h3>{{ hotel.name.en }}</h3>
      <p class="sub-description">{{ hotel.subDescription.en }}</p>
      <p class="description">{{ hotel.description.en }}</p>
      <p>Location: {{ hotel.location.Address.en }}, {{ hotel.location.city.en }}, {{ hotel.location.country.en }}</p>
      <p class="price">Price per night: {{ hotel.PricePerNight | currency }}</p>
      <p>Average Rating: {{ hotel.AverageRating > 0 ? hotel.AverageRating : 'Not Rated Yet' }}</p>
      <p>Check-in: {{ hotel.CheckInTime }}, Check-out: {{ hotel.CheckOutTime }}</p>
      <p *ngIf="hotel.approved" class="approval-status approved">This hotel is approved.</p>
      <p *ngIf="!hotel.approved" class="approval-status not-approved">This hotel is not approved.</p>
      <p>Contact: {{ hotel.phone }}</p>
      <p>ID: {{ hotel._id }}</p>
      <div class="button-group">
        <button class="btn btn-primary" (click)="onUpdateHotel(hotel._id)">Update</button>
        <button class="btn btn-danger" (click)="onDeleteHotel(hotel._id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noHotels>
  <p class="no-hotels-message">No hotels found for this user.</p>
</ng-template>
