<div class="sidebar border-end d-flex flex-column justify-content-between">
  <div class="d-flex flex-column align-items-start my-3">
    <p class="text-white fs-3 headline mb-1 d-none d-md-block">Booking.com</p>
    <p class="text-white fs-5 fw-light d-none d-md-block">Partner Hub</p>
  </div>
  <div class="sidebar-content flex-grow-1">
    <p class="text-white fw-medium d-none d-md-block">HOME</p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
          routerLink="/dashboard"
          routerLinkActive="active"
        >
          <i class="bi bi-grid-1x2 me-md-2 fs-5"></i>
          <span class="d-none d-md-inline">Dashboard For Your Property</span>
        </a>
      </li>
    </ul>
    <p class="text-white fw-medium d-none d-md-block">MANAGE YOUR PROPERTY</p>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
          routerLink="/add-property"
          routerLinkActive="active"
        >
          <i class="bi bi-plus-circle me-md-2 fs-5"></i>
          <span class="d-none d-md-inline">Add Property</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
          routerLink="/edit-property"
          routerLinkActive="active"
        >
          <i class="bi bi-gear me-md-2 fs-5"></i>
          <span class="d-none d-md-inline">Edit Property</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
          routerLink="/reviews"
          routerLinkActive="active"
        >
          <i class="bi bi-chat-left-text me-md-2 fs-5"></i>
          <span class="d-none d-md-inline">Reviews</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
          routerLink="/messages"
          routerLinkActive="active"
        >
          <i class="bi bi-envelope me-md-2 fs-5"></i>
          <span class="d-none d-md-inline">Messages</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-4 mb-2"
          routerLink="/visitor-chart"
          routerLinkActive="active"
        >
        <i class="bi bi-envelope me-2 fs-5"></i>vistor-chart
        </a>
      </li>
      
    </ul>
  </div>
  <div class="text-white mb-5 fw-medium">
    <a
      class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
      routerLink="/login"
      (click)="logout()"
    >
      <i class="bi bi-box-arrow-right me-md-2 fs-5"></i>
      <span class="d-none d-md-inline">Logout</span>
    </a>
  </div>
</div>
